@charset "utf-8";

/* concept-jiccho story- */
.section--concept {
    margin-top: 48px;
}

.concept__content {
    margin-top: 24px;
    padding: 0 var(--contentPadding);
    font-size: 1.4rem;
    line-height: 1.5;
}

.concept__txt {
    margin-top: 20px;
    text-align: left;
}

.pcBr {
    display: none;
}

/* story pc */
@media screen and (min-width:769px) {
    .section--concept {
        margin-top: 90px;
    }

    .concept__content {
        margin-top: 48px;
        padding: 0 var(--contentPadding-pc);
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: center;
        align-items: center;
    }

    .concept__txt {
        margin-top: 30px;
        text-align: center;
    }

    .pcBr {
        display: block;
    }
}